.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 10%;
  background: linear-gradient(135deg, #000000, #111, #1a1a1a);
  color: #fff;
}


.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.about-img img {
  width: 350px;
  border-radius: 50%;
  filter: drop-shadow(0 0 15px #ff004f);
  animation: floatImg 4s ease-in-out infinite;
}

@keyframes floatImg {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.about-text h2 {
  font-size: 45px;
  margin-bottom: 10px;
}

.about-text h2 span {
  color: #00aaff60;
}

.tabs {
  display: flex;
  gap: 20px;
  margin: 25px 0;
}

.tab-btn {
  background: transparent;
  border: 2px solid #00aaff60;
  color: #fff;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.tab-btn.active,
.tab-btn:hover {
  background: #00aaff;
}


.tab-content {
  display: none;
  animation: fadeIn 0.8s ease forwards;
}

.tab-content.active {
  display: block;
}

.skill {
  margin-bottom: 25px;


}

.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 500;
}

.skill-percent {
  color: #00aaff60;
  font-weight: 600;
}

.skill p {
  margin-bottom: 8px;
  font-weight: 500;
}

.skill-bar {
  height: 22px;
  background: #333;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.skill-bar span {
  display: block;
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #00aaff60, #00aaff);
  border-radius: 6px;
  transition: width 1.5s ease-in-out;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.edu-item {
  background: rgba(255, 255, 255, 0.05);
  border-left: 4px solid #00aaff60;
  padding: 20px 25px;
  border-radius: 8px;
  animation: fadeInUp 0.8s ease;
}

.edu-item h3 {
  color: #fff;
  margin-bottom: 5px;
}

.edu-item h4 {
  color: #00aaff;
  margin-bottom: 10px;
}

.edu-item p {
  color: #aaa;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}