body {
  background: linear-gradient(135deg, #000000, #1a1a1a, #232323);
  color: #fff;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  margin: 0;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10%;
  background: transparent;
}

.logo {
  font-size: 30px;
  font-weight: 700;
}
.logo span {
  color: #00aaff60;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-left: 580px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;  
}
.nav-links li a:hover,
.nav-links li a.active {
  color:#ff004f;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 10%;
}

.home-text {
  max-width: 600px;
  animation: fadeInLeft 1.2s ease-in-out;
}

.home-text h1 {
  font-size: 65px;
  color:#00aaff60;
  margin-bottom: 10px;
}

.home-text h2 {
  font-size: 28px;
  color: #ccc;
  margin-bottom: 20px;
}

.home-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #aaa;
  margin-bottom: 30px;
}

.btn-box {
  display: flex;
  gap: 40px;
  margin-left: 100px;
}

.btn {
  background: #ff004f;
  color: #fff;
  padding: 12px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background: transparent;
  border: 2px solid #00aaff60;
}

.home-img img {
  width: 280px;
  filter: drop-shadow(0 0 15px #00aaff60);
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes floatImg {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
