.projects {
  padding: 80px 10%;
  background: #0b0f19;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  font-size: 60px !important;
  font-weight: 800;
  text-align: center;
  width: 100%;
  color: #00aaff;
  margin-bottom: 35px;
  margin-top: 20px;
  display: block;
  letter-spacing: 1px;
}

.title {
  font-size: 50px !important;
  font-weight: 600;
  text-align: center;
  color: #fff;

  margin-bottom: 30px;
}


.title span {
  color: #00aaff;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  width: 100%;
}

.project-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  overflow: hidden;
  transition: 0.4s ease;
  backdrop-filter: blur(10px);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #00aaff60;
}

.project-img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: 0.4s ease;
}

.project-card:hover .project-img img {
  transform: scale(1.05);
}

.project-content {
  padding: 20px;
}

.project-content h3 {
  color: #00aaff;
  margin-bottom: 10px;
}

.project-content p {
  color: #d7d7d7;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #00aaff;
  color: #000;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  background: #0097dd;
}